@font-face {
  font-family: 'Avenir Light';
  src: local('Avenir Light'),
  url('../fonts/avenir/avenir-light-webfont.woff') format('woff'),
  url('../fonts/avenir/avenir-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Roman';
  src: local('Avenir Roman'),
  url('../fonts/avenir/avenir-roman-webfont.woff') format('woff'),
  url('../fonts/avenir/avenir-roman-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Medium';
  src: local('Avenir Medium'),
  url('../fonts/avenir/avenir-medium-webfont.woff') format('woff'),
  url('../fonts/avenir/avenir-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: local('Avenir Heavy'),
  url('../fonts/avenir/avenir-black-webfont.woff') format('woff'),
  url('../fonts/avenir/avenir-black-webfont.ttf') format('truetype');
}
