// global

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir Roman', 'Tahoma' !important;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  height: 100%;
}

// layout

  .marginAuto {margin: 0 auto;}
  .margin0 {margin: 0;}
  .margin1 {margin-bottom: 10px;}
  .margin2 {margin-bottom: 20px;}
  .margin3 {margin-bottom: 30px;}
  .margin4 {margin-bottom: 40px;}
  .margin5 {margin-bottom: 50px;}

// colors

  @basic1000: #151E36;
  @basic800: #444B5E;
  @basic600: #6D7487;
  @basic400: #9EA5B7;
  @basic200: #D4D8E3;

  @structure800: #A7B3D1;
  @structure600: #d3d9e8;
  @structure400: #EDEEF6;
  @structure200: #F5F6FA;

  @submit600: #1d5ef1;
  @submit400: #b2b6c1;
  @submit200: #9fbcff;

  @red: #eb4d4b;
  @green: #72c150;
  @orange: #ffc443;

// typography

  h1 {
    font-size: 32px;
    line-height: 38px;
  }

  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 { //subheader
    font-size: 16px;
    line-height: 20px;
  }

  .body1 {
    font-size: 18px;
    line-height: 24px;
  }

  .body2 {
    font-size: 14px;
    line-height: 18px;
  }

  .footnote1 {
    font-size: 13px;
    line-height: 16px;
  }

  .footnote2 {
    font-size: 11px;
    line-height: 14px;
  }

// misc
