@import '../../../../styles/main.less';

.token-list {
  height: 100%;
  overflow: hidden;
  background: @white;

  &__container {
    height: calc(100% - 32px);
    border: 1px solid @structure400;
    min-width: 800px;
    overflow: auto;
  }

  &__scroller {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 66px);
  }

  &__header {
    min-width: 800px;
    align-items: center;
  }

  &__list-header {
    padding: 0 20px;
    min-width: 800px;
  }

  &__row {
    padding: 15px 20px;
    border-bottom: 1px solid @structure400;
    height: 70px;
    cursor: pointer;
    transition: .3s;

    &:last-child {
      margin-bottom: -1px;
    }

    div:not(.ant-col-1) {
      overflow: hidden;
    }

    &:hover {
      background: @structure200;
    }
  }

  &__avatar {
    margin-right: 26px;
    min-width: 40px;
  }

  &__description-overflow {
    max-height: 38px;
    overflow: hidden;
  }
}
