@import "../../../assets/index";
@import "../../styles/main.less";

body {
  .ant-list-split {
    .ant-list-item {
      padding: 0;
      border: 0 none;
    }
  }

  .ant-layout-sider {
    background: @basic1000;

    &.right-info {
      background: @layout-body-background;
      padding: @padding-layout;

      .right-info {
        &_container {

        }
      }
    }
  }
}
